apiVersion: v1
kind: Secret
metadata:
    name: facet-mongodb
    labels:
        name: facet-mongodb
        prism: facet-mongodb
type: Opaque
stringData:
    database-name: **********
    database-user: prismmongouser
    database-password: **********
    database-admin-password: **********
