apiVersion: v1
kind: Secret
metadata:
    name: prism-api-secret
    labels:
        prism: prism-api-secret
        name: prism-api-secret
type: Opaque
stringData:
    postgresql_root_password: ***********
    postgresql_username: username
    postgresql_password: **********
